{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="main-content">
        <div class="container">
            {{ page.content|raw }}
        </div>
    </div>
{% endblock %}
